.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Environment/*
Environment/Alphapup.php
Environment/Bootstrap.php
Environment/Cache/Dev/profiler
Environment/Config/Database.php
Environment/Config/Database.php
Environment/Config/Paths.php
