.content { border-left:1px #f4f4f4 solid; width:719px; padding:20px; float:right;}

.data { border:1px #f4f4f4 solid; width:100%; margin-bottom:20px;}
.data td { border-right:1px #f4f4f4 solid; font-size:12px; padding:10px;}
.data td:last-child { border-right:0;}
.data td.header { background:#daf8da; width:150px;}
.data tr { border-bottom:1px #f4f4f4 solid;}
.data tr:last-child { border-bottom:0;}

#profiler_content { background:#ffffff;}

#profiler_header { border-bottom:1px #f4f4f4 solid; background:#ffffff; padding:20px;}


.meta { color:#808080; font-size:16px; margin-top:20px;}

.side_nav { background:#ffffff; width:200px; height:100%; float:left;}
.side_nav a { background:#f4f4f4; color:#4c4a4a; font-size:16px; display:block; margin-bottom:1px; padding:20px; text-decoration:none;}
.side_nav a:hover { background:#f7f7f7;}

#title { font-size:25px; margin-bottom:40px;}

#top_logo { width:280px; height:120px; display:block;}

#wrapper { width:960px; margin:0px auto; padding-top:40px;}

.zebra { margin-bottom:40px;}
.zebra a { color:#4c4a4a; text-decoration:none;}
.zebra a:hover { text-decoration:underline;}
.zebra li:nth-child(odd) { background:#daf8da;}
.zebra li { font-size:12px; padding:10px;}
.zebra li > .left { float:left;}
.zebra li > .right { float:right;}