body {
	background-color:#fefefe;
}

h1, h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: bold;
	font-size:200px;
	text-align:right;
	position:absolute;
	top:50px;
	right:0;
}
h1 {
	color:#37689b;
	opacity:0.5;
}
h2 {
	color:#f53939;
	opacity:0.4;
}