body { }

.error { background:#ffffff; padding:20px;}

.exception_message { font-size:20px; line-height:28px; margin-top:20px;}
.exception_meta { color:#808080; font-size:14px; line-height:28px;}

p { font-size:18px; line-height:22px; margin-top:20px;}

.trace { margin-top:20px;}
.trace td { font-size:12px; line-height:20px; padding:10px 20px;}
.trace th { text-align:left; padding:10px 20px;}
.trace tr:nth-child(even) { background:#daf8da;}

#title { width:280px; height:120px; margin-bottom:20px;}

#wrapper { width:960px; margin:100px auto;}